{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
  <section id="user-groupes" class="flex flex-col items-center">
    <a href="{{ path('user.index') }}" class="text-lg self-end"><i class="fas fa-home"></i></a>

    <h1 class="text-center text-2xl font-extrabold uppercase my-10">{{ title }}</h1>

    <ul class="mb-6 space-y-1">
      <li>Vous pouvez cliquer sur un joueur pour voir sa composition.</li>
      <li>Les joueurs en rouge n'ont pas validé leur composition.</li>
    </ul>

    <table class="table-fixed w-full text-sm">
      <thead>
      <tr class="border-b-2">
        <th class="text-left">Joueur</th>
        <th class="text-left">Ligue</th>
        <th class="text-right">Pts</th>
      </tr>
      </thead>
      <tbody>

      {% for user in users %}
        <tr>
          <td class="py-2">
            <a href="{{ path('user.show', {id: user.id, slug: user.slug}) }}" class="{% if user.composition is null %}text-red-600{% endif %}">{{ user.username }}</a>
          </td>
          <td>
            {{ user.league.name }}
          </td>
          <td class="text-right">
            {% if user.composition is not null %}
              {{ user.composition.total }}
            {% else %}
              0
            {% endif %}
          </td>
        </tr>
      {% endfor %}

      </tbody>
    </table>

  </section>
{% endblock %}
