<p class="mb-10">
  Vous pouvez modifier votre composition jusqu'au 11 juin 2021 (20h00)
</p>

{{ form_start(form, {'attr': {'class': 'space-y-6 w-full'}}) }}

{% for i in 1..8 %}
  <div>
    {{ form_label(form['team_' ~ i]) }}
    {{ form_widget(form['team_' ~ i], {'attr': {'class': 'w-full px-3 py-2 border border-gray-300 placeholder-gray-500 rounded-md focus:outline-none'}}) }}
  </div>
{% endfor %}


{{ form_rest(form) }}
<button class="w-full py-2 px-4 rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none">{{ button|default('Enregistrer') }}</button>
{{ form_end(form) }}
